node_modules
dist
build
.git
.gitignore
.env
.env.local
.env.*.local
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
.dockerignore
Dockerfile
DockerFile
README.md
docker-compose.yml
.eslintignore
.prettierignore
nginx.conf
package-lock.json